.about-section {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.about-section h2 {
    margin-bottom: 10px;
    color: #007BFF;
}
.about-section p {
    color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.homepage-section {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.homepage-section h2 {
    margin-bottom: 10px;
    color: #007BFF;
}
.homepage-section p {
    margin-bottom: 20px;
    color: #333;
}
.homepage-section button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.homepage-section button:hover {
    background-color: #0056b3;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

form label {
    margin-bottom: 5px;
}

form input[type=text],
form input[type=email],
form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

form input[type=submit] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type=submit]:hover {
    background-color: #0056b3;
}

#search-icon{
    height: 20px;
    width: 20px;
}

