/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Container */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    flex-grow: 1;
}

/* Form sections */
.form-section {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

/* Form boxes */
.form-box {
    flex: 1 1 0px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-box h2 {
    color: #333;
    margin-bottom: 15px;
}

.form-box p {
    color: #666;
    margin-bottom: 15px;
}

.form-box form input {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-box form input[type="submit"] {
    width: 85%;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-box form input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-box a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}
